   <div class="contact-links">
      <!-- Hat Tip to Hakim.se for the email obsfucation approach below -->
      <a href="mailto:xxxxxxbobby.owolabixxxxx@gmail.com" onmouseover="this.href=this.href.replace(/x/g,'');" ontouchstart="this.href=this.href.replace(/x/g,'');" title="Contact"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
      <a href="/atom.xml" title="RSS"><i class="fa fa-2x fa-rss-square" aria-hidden="true"></i></a>      
      <a href="{{ site.social.github }}" title="GitHub"><i class="fa fa-2x fa-github" aria-hidden="true"></i> </a>
      <a href="{{ site.social.twitter }}" title="Twitter"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
   </div>