<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      <a href="/">
        <h1>
          <span>Bobby</span>Owolabi
        </h1>
      </a>
    </span>
    <span class="absolute" style="left: 218px; top: -17px">
      <a href="/"><img src="/img/logo.png" width="70px" height="76px"></a>
    </span>
    <span id="nav-links" class="absolute right bottom">
      <!-- Nav pages -->
	    {% include menu-links.html %}
      
      <!-- Nav links -->
	    {% include link.html %}

    </span>
  </div>
</header>
<p id="sub-header">
  <em>The Intersection of Audio, Coding &amp; Music</em>
</p>

