
/*- Custom style -*/

// -- Put custom style under this point -- //
.contact-links {
   font-style: italic;
   padding-top: 30px;
   padding-bottom: 30px;
}

.contact-links a {
   padding-left: 15px;
   padding-right: 15px;
}

.comment-count {
  color: lighten($text-color, 25%);
  line-height: 1.5em; /* 24px/16px */
  font-weight: 200;
  font-style: italic;
}

#disqus_thread {
  padding-top: 40px;
}

#sub-header {
  margin-bottom: 3em;
}

/* Styling: https://www.w3schools.com/html/html_tables.asp */
table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}
